.header{
    background:#AA0601;
    color:#AA0601;
    padding: 80px;
    display:flex;
    font-size:15px;
    margin-right: auto;
    text-align:right;
}

.header .li .header-1{
    font-size:20px;
    color:#fff;

}

.img{
    width:100%;
    height:0;
}

.h1{
    font-size:100px;
}